body {
  font-family: Tahoma, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", sans-serif;
  /*font-family: 'Kozuka Gothic Pro B', 'Hiragino Kaku Gothic ProN';*/
}

h1 {
  color: #6b3710;
}

.wrapper {
  margin: 8px;
  border: 4px solid;
  background-color: #F3E5CB;
  padding: 8px 16px 16px 16px;
}

.content-print {
  top:0 !IMPORTANT;
  left:0 !IMPORTANT;
  width:172mm !IMPORTANT;
}

.store_name {
  text-align: center;
  font-size: 56px;
}

.inner-box {
  margin-top: 16px;
  padding: 16px;
  background: rgba(255,255,255,0.45);
}

.container {
  overflow: hidden;
}

/* clearfix */
.container:before, .container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.price {
  width: 120px;
  margin-left: auto;
}

.kind-box {
  font-size: 32px;
}

.item h2 {
  font-size: 24px;
}

.item {
  padding-left: 16px;
  margin-bottom: 32px;
}

.food-img {
  width: 100px;
  display: inline-block;
}

.lang-box {
  padding-left: 16px;
  display: inline-block;
}

.lang-box p:first-child{
  font-size: 32px;
}

#default_img_on .img_box {
  width: 120px;
  display: inline-block;
}

#default_img_on .img_box img {
  width: 100%;
}